<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>food_front</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ShowDesk</display-name>
    <servlet-name>ShowDesk</servlet-name>
    <servlet-class>cn.et.controller.desk.ShowDesk</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowDesk</servlet-name>
    <url-pattern>/ShowDesk</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowFoodType</display-name>
    <servlet-name>ShowFoodType</servlet-name>
    <servlet-class>cn.et.controller.food.ShowFoodType</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowFoodType</servlet-name>
    <url-pattern>/ShowFoodType</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ImageController</display-name>
    <servlet-name>ImageController</servlet-name>
    <servlet-class>cn.et.controller.food.ImageController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ImageController</servlet-name>
    <url-pattern>/ImageController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FoodCartServlet</display-name>
    <servlet-name>FoodCartServlet</servlet-name>
    <servlet-class>cn.et.controller.food_cart.FoodCartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FoodCartServlet</servlet-name>
    <url-pattern>/FoodCartServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>aa</display-name>
    <servlet-name>aa</servlet-name>
    <servlet-class>cn.et.controller.desk.aa</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>aa</servlet-name>
    <url-pattern>/aa</url-pattern>
  </servlet-mapping>
</web-app>